
<p class="button-partial">
  <div id="change-album">
    <form class="partial-update-album">
      <p id="updateAlbum-message"></p>
      <input name="album[title]" placeholder="Title" type="text">
      <input name="album[genre]" placeholder="Genre" type="text">
      <input name="album[style]" placeholder="Style" type="text">
      <input name="album[firstRelease]" placeholder="First Release" type="month" min="1877-01" max="2021-01" value="2020-08">
      <button type="submit" class="btn btn-outline-warning update-album">Up Date</button>
    </form>
      <p id="deleteAlbum-message"></p>
    <button type="submit" class="btn btn-outline-danger delete-album">Delete Album</button>
  </div>
</p>
