@import '~bootstrap/scss/bootstrap';
@import url('//fonts.googleapis.com/css2?family=Monoton&display=swap');

$input: #d3d3d3;
$header: #B22222;
$background: #000000;
$background2: #191919;
$cardText: #292929;

*:focus {
  outline: none;
}

button:focus {
  outline: none;
}

body {
  margin: 3%;
  color: $input;
  text-align: center;
  background-color: $background2;
  background-repeat: no-repeat;
}

.header {
  background-size: cover;
  background-image: url('public/images/HeaderRecord.jpg');
  border-radius: 20px;
  margin: 3%;
  padding: 10%;
  font-family: 'Monoton', cursive;
  text-align: center;
}

#message {
  font-size: 30px;
}
form {
 margin: 3%;
 color: $input;
}

input[type=email]{
  text-align: center;
  border-radius: 7px;
  background-color: $input;
}

input[type=password]{
  text-align: center;
  border-radius: 7px;
  background-color: $input;
}

input[type=text]{
  text-align: center;
  border-radius: 7px;
  background-color: $input;
}

input[type=month]{
  text-align: center;
  border-radius: 7px;
  background-color: $input;
}

.add-new-album {
  margin-top: 4%;
}

.btn.btn-outline-warning.update-album {
  margin-top: 4%;
  margin-bottom: 4%
}
.delete-album {
  float: left;
  padding: 0px;
}
#addAlbum-message{
  font-size: 25px;
  font-family: 'Monoton', cursive;
}
#catolog-message {
  font-size: 25px;
  font-family: 'Monoton', cursive;
}
#getAlbumsButton {
  margin-top: 1%;
  margin-bottom: 3%;
  margin-left: 8px
}

#change-pw {
  font-size: 25px;
  font-family: 'Monoton', cursive;
}

.titleHeading {
  font-size: 35px;
}
.change-pw {
  margin-top: 3%;
}

.card {
  color: $background;
  margin-top: 8%;
}

.card-columns {
  margin-top: 3%;
}

.infoCard {
  margin-bottom: 5px;
}
.overlay {
margin-top: -3%;
margin-left: -3%;
margin-right: -3%;
margin-bottom: 1%;
// box-shadow: 10px 10px 20px $background2;
box-shadow: 8px -10px 18px #999999;
}



// @media only screen and (max-width: 450px) {
//   /* For mobile phones: */
//   [class*="col-1"] {
//     width: 100%;
//   }
// }
// /* For iphone: */
// @media screen and (max-width : 450px){
//   body {
//     margin: auto;
//   }
//   .header {
//     margin: auto;
//   }
//   .login-signup {
//     margin: auto;
//   }
// }
